@import "src/variables";

.direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.direction:before, 
.direction:after {
    content: " ";
    width: 50%;
    display: block;
    height: 1px;
    background-color: $inputBorderColor;
}

.circle {
    width: 65px;
    height: 65px;
    color: $colorPrimary;
}

@media (min-width: $laptop) {
   .direction {
       flex-direction: column;
       width: 20%;
   } 

   .circle {
       transform: rotate(90deg);
   }

.direction:before, 
.direction:after {
    content: " ";
    width: 1px;
    display: block;
    height: 50%;
}

}