@import "src/variables";

.section {
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.04);
    padding: 24px 20px;
}


@media (min-width: 1025px) {
    .section {
        display: flex;
    }
}
