.header {
  background-color: darkgoldenrod;
}

.menu {
  display: none;
}

.content {
    background-color: darkgray;
}

@media (min-width: 1024px) {

  .layout {
    display: flex;
  }

  .header {
    flex-grow: .33;
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .menu {
    display: block;
  }
}
