@import "src/variables";

.acceptRates {
    padding: 35px 20px;
    text-align: center;
}

.info {
    margin-top: 12px;
}

.button {
    width: 100%;
    max-width: 380px;
    color: #fff;
    background-color: $colorAccent;
    height: 57px;
    border-radius: 4px;
    font-family: 'Muli Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media (min-width: 768px) {
    .acceptRates {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info {
        order: -1;
    }

    .button {
        width: 25%;
    }
}