@import "src/variables";

@font-face {
    font-family: 'Muli Regular';
    src: url(./assets/fonts/Muli/Muli-Regular/Muli-Regular.woff);
}
@font-face {
    font-family: 'Muli Black';
    src: url(./assets/fonts/Muli/Muli-Black/Muli-Black.woff);
}

body {
    font-family: 'Muli Regular', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $colorGray;
}

body, ul, li, h1, h2, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
