.header {
  height: 60px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.04); 

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 16px;
  padding-right: 16px;
}