.custom-input {
  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    border: 1px solid $outlineGrayColor;
    border-radius: 2px;
    line-height: 24px;
    font-size: 18px;
    color: $primColor;
    padding: 8px;
    padding-right: 42px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-image: url("../assets/images/delete-input-text.svg");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 10px;
  }
}
