@import "src/variables";

.optionCurrencyIcon {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.singleValueCurrencyIcon {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    color: $colorAccent; 
}

.dropdownArrow {
    width: 10px;
    height: 10px;
}

.customOption {
    display: flex;
    align-items: center;
    padding: 20px 0;

    &_Code {
        font-family: 'Muli Bold', Arial, Helvetica, sans-serif;
        margin-right: 20px;
    }

    &_Name {
        margin-left: auto;

    }
}

:global(.CustomSelect__option:not(:last-child) > div ) {
    border-bottom: 1px solid $inputBorderColor;
}


.inputLabel {
    display: block;
    margin-bottom: 14px;
    white-space: nowrap;
    overflow: hidden;
}

/*
:global(.SelectCurrency) {
    &__menu {
        width: calc(100vw - 72px) !important;
        right: 0;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {

:global(.SelectCurrency) {
        &__menu {
            width: 100% !important;
            right: auto;

        }
    }
}
*/